* {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logos {
    position: absolute;
    top: 0px;
    width: 200px;
    margin: 15px;
}

.init-menu {
    position: absolute;
    top: calc( 50vh - 25px);
    left: calc( 50vw - 100px);
    width: 200px;
    height: 50px;
    margin: 15px;
    color: white;
}